<!-- CV --> 
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].cv.section | default: "about" }}">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].cv.title | markdownify | default: "CV" }}</h2>
       </div>
     </div>
     <br>
     <div class="row">
        <object data="../../CV_1_18_2022_Tassia.pdf" width="1000" height="1000" type='application/pdf'/></object>
     </div>
   </div>
  </section>
<!-- End CV -->
