<!-- Publications Section -->


<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="../dim.html" charset="utf-8"></script>


<section id="publications" class="bg-lighter-primary">



<div class="container">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading" style=color:#0f295a>Publications</h2>
            </div>



<div class="box"><div class="box-title"></div><div class="box-title">

	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> Tassia, M. G., <b>David, K.T.</b>, Townsend, J.P., & Halanych, K.M. (2021). <a href="https://doi.org/10.1093/molbev/msab258" target="_blank">TIAMMAt: Leveraging biodiversity to revise protein domain models, evidence from innate immunity.</a> <i>Molecular Biology and Evolution</i>.</span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1140743701"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1093/molbev/msab258" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> <b>David, K. T.</b> & Halanych, K. M. (2021). <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jbi.14067" target="_blank">Spatial proximity between polyploids across South American frog genera.</a> <i>Journal of Biogeography</i>, <i>48</i>(5), 991-1000.  <a href="https://journalofbiogeographynews.org/2021/05/01/ploidyinsouthamericanfrogs/" target="_blank">[Editors' Choice]</a></span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1135410205"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1111/jbi.14067" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> Zhang, Y., Yap, K. N., <b>David, K. T.</b>, & Swanson, D. L. (2021). <a href="https://academic.oup.com/auk/advance-article/doi/10.1093/ornithology/ukab022/6247582" target="_blank">The high-energy aerial insectivore lifestyle of swallows does not produce clear thermogenic side effects.</a> <i>Ornithology</i>.</span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1137437709"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1093/ornithology/ukab022" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> Li, Y.<b><sup>*</sup></b>, <b>David, K. T.<sup>*</sup></b>, Shen, X. X., Steenwyk, J. L., Halanych, K. M., Rokas, A. (2020). <a href="https://www.pnas.org/content/pnas/117/50/31580.full.pdf" target="_blank">Feature frequency profile-based phylogenies are inaccurate.</a> <i>PNAS</i>, <i>117</i>(50), 31580-31581.</span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1132893586"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1073/pnas.2013143117" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> <b>David, K. T.</b>, Halanych, K. M., Oaks, J. R., (2020). <a href="https://peerj.com/articles/8813/" target="_blank">Patterns of gene evolution following duplications and speciations in vertebrates.</a> <i>PeerJ</i>, <i>8</i>, e8813.</span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1126019364"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="10.7717/peerj.8813" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> Li, Y., Tassia, M. G., Waits, D. S., Bogantes, V. E., <b>David, K. T.</b>, Halanych, K. M. (2019). <a href="https://link.springer.com/article/10.1186/s12915-019-0713-x" target="_blank">Genomic adaptations to chemosymbiosis in the deep-sea seep-dwelling tubeworm <i>Lamellibrachia luymesi</i>.</a> <i>BMC Biology</i>, <i>17</i>(1), 91.</span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1122683474"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="10.1186/s12915-019-0713-x" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> <b>David, K. T.</b>, Wilson, A. E., Halanych, K. M. (2019). <a href="https://academic.oup.com/mbe/article/36/8/1624/5488200" target="_blank">Sequencing disparity in the genomic era.</a> <i>Molecular Biology and Evolution</i>, <i>36</i>(8), 1624-1627. <a href="/assets/molbiolevol_36_8cover.png" target="_blank">[Featured Cover Article]</a></span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1113840096"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1093/molbev/msz117" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> <b>David, K. T.</b> & Halanych, K. M. (2017). <a href="https://www.tandfonline.com/doi/full/10.1080/23802359.2017.1407704" target="_blank">Mitochondrial genome of <i>Dinophilus gyrociliatus</i> (Annelida: Dinophilidae).</a> <i>Mitochondrial DNA Part B</i>, <i>2</i>(2), 831-832.</span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1093011837"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px; margin-top:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1080/23802359.2017.1407704" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> McMahan, C. D., Ginger, L., Cage, M., <b>David, K. T.</b>, Chakrabarty, P., Johnston, M., & Matamoros, W. A. (2017). <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0178439" target="_blank">Pleistocene to holocene expansion of the black-belt cichlid in Central America, <i>Vieja maculicauda</i> (Teleostei: Cichlidae).</a> <i>PloS one</i>, <i>12</i>(5), e0178439.</span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1085711080"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1371/journal.pone.0178439" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<div class="row"></div>
	<div class="rowwrapper">
	<span class="pub" style="font-size:18px; margin-right: -15px"> <b>David, K. T.</b>, Tanabe, P., Fieber, L. A. (2016). <a href="https://www.researchgate.net/publication/312051396_Resource_Availability_Drives_Mating_Role_Selection_in_a_Simultaneous_Hermaphrodite_Aplysia_californica" target="_blank">Resource availability drives mating role selection in a simultaneous hermaphrodite <i>Aplysia californica</i>.</a> <i>The Biological Bulletin</i>, <i>231</i>(3), 199-206.</span>
	<div class="columnwrapper">
	<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1058871185"  data-style="small_circle" data-legend="hover-top"></span>
	<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1086/691067" data-hide-no-mentions="false" ></span>
	</div>
	</div>
	<br>
	<p style="font-size:16px;"> <sup>*</sup>these authors contributed equally to the work</p>
</div><div class="box-footer"> </div></div>
</div>



</section>
