<!-- Publications Section -->
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="../dim.html" charset="utf-8"></script>

<section class="page-section" id="{{ site.data.sitetext[site.locale].publications.section | default: "publications" }}">
 <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].publications.title | markdownify | default: "Publications" }}</h2>
        </div>
      </div>
 </div>

<div class="container">
	<div class="row">
		<div class="col">
			<b>Tassia, M.G.</b>, David, K.T., Townsend, J.P., & Halanych, K.M. (2021). <a href="https://doi.org/10.1093/molbev/msab258" target="_blank">TIAMMAt: Leveraging biodiversity to revise protein domain models, evidence from innate immunity.</a> <i>Molecular Biology and Evolution</i>
		</div>
		<div class="col-md-auto">
			<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1140743701"  data-style="small_circle" data-legend="hover-top"></span>
		</div>
		<div class="col-md-auto">
			<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1093/molbev/msab258" data-hide-no-mentions="false" ></span>
		</div>  
	</div>
</div> 
	
<div class="box"><div class="box-title"></div><div class="box-title">
  <div class="row"></div>
	  <div class="rowwrapper">
    <span class="pub" style="font-size:18px; margin-right: -15px"> <b>Tassia, M.G.</b>, David, K.T., Townsend, J.P., & Halanych, K.M. (2021). <a href="https://doi.org/10.1093/molbev/msab258" target="_blank">TIAMMAt: Leveraging biodiversity to revise protein domain models, evidence from innate immunity.</a> <i>Molecular Biology and Evolution</i>.</span>
	   <div class="columnwrapper">
	  <span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1140743701"  data-style="small_circle" data-legend="hover-top"></span>
	  <span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1093/molbev/msab258" data-hide-no-mentions="false" ></span>
	 </div>
	</div>
 <div class="box-footer"> </div>
</section>
<!-- Publications Section -->
