<!-- Publications Section -->
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="../dim.html" charset="utf-8"></script>

<section class="page-section" id="{{ site.data.sitetext[site.locale].publications.section | default: "publications" }}">
 <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].publications.title | markdownify | default: "Publications" }}</h2>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].publications.text | default: "Pub text"}}</h3>
        </div>
      </div>
 </div>

<div class="container">
	<div class="row">
		<div class="col">
			<b>Tassia MG</b>, David KT, Townsend JP, & Halanych KM (2021) <a href="https://doi.org/10.1093/molbev/msab258" target="_blank">TIAMMAt: Leveraging biodiversity to revise protein domain models, evidence from innate immunity.</a> <i>Molecular Biology and Evolution</i> 38(12), 5806-5818.
		</div>
		<div class="col-md-auto">
			<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1140743701"  data-style="small_circle" data-legend="hover-top"></span>
		</div>
		<div class="col-md-auto">
			<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1093/molbev/msab258" data-hide-no-mentions="false" ></span>
		</div>  
	</div>
	<br>
	
	<div class="row">
		<div class="col">
			Townsend JP, <b>Tassia MG</b>, Damian-Serrano A, Whelan NV, Halanych KM, & Sweeney AM (2020) <a href="https://doi.org/10.1007/s12526-020-01049-9" target="_blank">A mesopelagic ctenophore representing a new family, with notes on family-level taxonomy in Ctenophora: <i>Vampyroctena delmarvensis</i> gen. nov. sp. nov. (Vampyroctenidae, fam. nov.).</a> <i>Marine Biodiversity</i> 50(34)
		</div>
		<div class="col-md-auto">
			<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1127419387"  data-style="small_circle" data-legend="hover-top"></span>
		</div>
		<div class="col-md-auto">
			<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1007/s12526-020-01049-9" data-hide-no-mentions="false" ></span>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col">
			Li Y, <b>Tassia MG</b>, Waits DS, Bogantes VE, David KT, & Halanych KM (2019) <a href="https://doi.org/10.1186/s12915-019-0713-x" target="_blank">Genomic adaptations to chemosymbiosis in the deep-sea seep-dwelling tubeworm <i>Lamellibrachia luymesi</i></a>. <i>BMC Biology</i> 17(91).
		</div>
		<div class="col-md-auto">
			<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1122683474"  data-style="small_circle" data-legend="hover-top"></span>
		</div>
		<div class="col-md-auto">
			<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1186/s12915-019-0713-x" data-hide-no-mentions="false" ></span>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col">
			Li Y, Kocot KM, <b>Tassia MG</b>, Cannon JT, Bernt M, & Halanych KM (2019) <a href="https://doi.org/10.1093/gbe/evy254" target="_blank">Mitogenomics reveals a novel genetic code in Hemichordata</a>. <i>Genome Biology and Evolution</i> 11(1), 29-40.
		</div>
		<div class="col-md-auto">
			<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1110070085"  data-style="small_circle" data-legend="hover-top"></span>
		</div>
		<div class="col-md-auto">
			<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1093/gbe/evy254" data-hide-no-mentions="false" ></span>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col">
			<b>Tassia MG</b>, Whelan NV, & Halanych KM (2017) <a href="https://doi.org/10.1073/pnas.1617722114" target="_blank">Toll-like receptor pathway evolution in deuterostomes</a>. <i>PNAS</i> 114(27), 7055-7060.
		</div>
		<div class="col-md-auto">
			<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1086130839"  data-style="small_circle" data-legend="hover-top"></span>
		</div>
		<div class="col-md-auto">
			<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1073/pnas.1617722114" data-hide-no-mentions="false" ></span>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col">
			<b>Tassia MG</b>, Cannon JT, Konikoff CE, Shenkar N, Halanych KM, & Swalla BJ (2016) <a href="https://doi.org/10.1371/journal.pone.0162564" target="_blank">The global diversity of Hemichordata</a>. <i>PLoS ONE</i>
		</div>
		<div class="col-md-auto">
			<span class="__dimensions_badge_embed__" style="margin-left: 15px" data-id="pub.1033666212"  data-style="small_circle" data-legend="hover-top"></span>
		</div>
		<div class="col-md-auto">
			<span class="altmetric-embed" style="margin-left:10px" data-badge-popover="bottom" data-badge-type="donut" data-doi="https://doi.org/10.1371/journal.pone.0162564" data-hide-no-mentions="false" ></span>
		</div>
	</div>
</section>
<!-- Publications Section -->
